@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #000000;
  color: white;
}
::-webkit-scrollbar {
  width: 0px;
}


.inner-shadow {
  box-shadow: inset gray 0px 0px 60px -25px;
}
