@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #000;
  color: white;
}
::-webkit-scrollbar {
  width: 0px;
}
section{
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.inner-shadow {
  box-shadow: inset gray 0px 0px 60px -25px;
}